node_modules/
.env
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.DS_Store
.idea/
.vscode/
*.env.local
coverage/
build/
tmp/
# Ignore database config or exported DB dumps
*.sql
*.sqlite
# Ignore OS files
Thumbs.db
