.container-cards-panier {
    display: none; /* Caché par défaut */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 50px -20px #222;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  
  /* Si les cartes sont présentes, afficher la section */
  .container-cards-panier:has(> *),
  .container-cards-resume-panier:has(> *) {
    display: flex;
  }