.panier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding-top: 100px;
  width: 100%;
}

.panier h1 {
  margin: 2%;
  font-size: 32px;
}

/* Ajustement pour les tablettes (1024px et moins) */
@media (max-width: 1024px) {
  .panier h1 {
    font-size: 28px;
  }
  .container-cards-panier,
  .container-cards-resume-panier,
  .panier-section-produits {
    max-width: 95%;
    padding: 15px;
    gap: 15px;
  }

  .card-resume {
    max-width: 350px;
    padding: 20px;
  }

  .card-resume h2 {
    font-size: 1.5rem;
  }

  .card-resume p {
    font-size: 1.2rem;
  }
}

/* Mobiles (768px et moins) */
@media (max-width: 768px) {
  .panier {
    padding-top: 70px;
  }

  .panier h1 {
    font-size: 24px;
  }

  .container-cards-panier,
  .container-cards-resume-panier,
  .panier-section-produits {
    width: 90%;
    padding: 10px;
    gap: 10px;
  }

  .card-resume {
    max-width: 90%;
    padding: 18px;
  }

  .card-resume h2 {
    font-size: 1.4rem;
  }

  .card-resume p {
    font-size: 1.1rem;
  }
}

/* Très petits écrans (480px et moins) */
@media (max-width: 480px) {
  .panier {
    padding-top: 80px;
  }

  .panier h1 {
    font-size: 20px;
  }

  .panier-section-produits {
    width: 95%;
    gap: 8px;
    padding-left: 0%;
    padding-right: 0%;
  }
  .card-resume {
    max-width: 95%;
    padding: 15px;
  }

  .card-resume h2 {
    font-size: 1.2rem;
  }

  .card-resume p {
    font-size: 1rem;
  }

  .panier-vide {
    font-size: 16px;
  }
}
