:root {
  --primary-color:#eee8d9;
  --secondary-color: #a99674;
  --couleurs-foncer: black;
  --couleurs-claire:white;
}
body{
  /* background-color: #f2eee3; */
  background-color: var(--primary-color);
  
}
body h1, h2, h3, p {
  font-family: "Playwrite AU SA", serif;
}

a {
  text-decoration: none !important;
}
/* * {
  margin: 0;
  padding: 0; 
   box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%; 
   display: flex;
  justify-content: center;
  align-items: center; 
   background-color: #f0f2f5;
} */



