.container_vitrine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    padding: 20px;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    margin: 3% 3% 3% 3%;
    box-shadow: 0px 5px 50px -20px #222;
}
/* Section des achats */
.achats {
    flex: 1;
    max-width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 50px -20px #222;
}

.lien_ver p {
    font-size: 14px;
    color: gray;
}

.lien_ver h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}

.lien_ver p:last-child {
    font-size: 18px;
    font-weight: bold;
    color: #e60000;
}

/* Gestion de la quantité */
.bouttons_quontité {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#moins, #plus {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#nbr_qnt {
    margin: 0 10px;
    font-size: 18px;
}

/* Boutons d'achat */
.Bouttons button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.Bouttons button:first-child {
    background: #ffcc00;
}

.Bouttons button:last-child {
    background: black;
    color: white;
}
