.section-produits {  
    margin: 2% 10% 2% 10%;
}
.container-produits {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    width: max-content; 
    max-width: 100%; 
    margin: auto; 
    visibility: hidden; 
    background-color: white;
    box-shadow: 0px 5px 50px -20px #222;
    border-radius: 10px;
}
.container-produits:has(> *) {
    visibility: visible; 
}


@media (max-width:480px) {
    .section-produits {
       gap: 8px;
       padding-left: 0%;
       padding-right:0% ;
       margin: 2%;
    }
    .container-produits {
       align-items: center;
       padding: 4%;
       width: 100%;
     }
 }

/* Tablettes portrait */
@media (max-width: 768px) {
    .section-produits {
        gap: 8px;
        padding-left: 0%;
        padding-right:0% ;
        margin: 2%;
     }
     .container-produits {
        align-items: center;
        padding: 4%;
        width: 100%;
      }
}

/* Tablettes paysage & petits écrans d'ordinateurs */
@media (max-width: 992px) {
    .section-produits {
        gap: 8px;
        padding-left: 0%;
        padding-right:0% ;
        margin: 2%;
     }
     .container-produits {
        align-items: center;
        padding: 4%;
        width: 100%;
      }
}

/* Petits écrans d'ordinateurs */
@media (max-width: 1200px) {
    .section-produits {
        gap: 8px;
        padding-left: 0%;
        padding-right:0% ;
        margin: 2%;
     }
     .container-produits {
        align-items: center;
        padding: 4%;
        width: 100%;
      }
}
